.drawer {
    position: fixed;
    top: 60px; /* Debajo del toolbar */
    left: -250px; /* Inicialmente oculto */
    width: 250px;
    height: calc(100% - 60px); /* Altura del drawer ajustada */
    background-color: #333;
    color: #fff;
    transition: left 0.3s ease, opacity 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 999; /* Asegura que el drawer esté debajo del toolbar */
    opacity: 0; /* Oculto por defecto */
}

.drawer.open {
    left: 0; /* Mostrar el drawer cuando está abierto */
    opacity: 1;
}
