/* Estilos para la lista de películas */
.movie-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
    gap: 15px;
    max-width: 100%; /* Ajustar al ancho total de la pantalla */
    margin: 0 auto;
    padding: 20px;
}

/* Ajuste para pantallas medianas */
@media (max-width: 900px) {
    .movie-list {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    }
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 600px) {
    .movie-list {
        grid-template-columns: 1fr; /* 1 columna */
    }
}

.movie {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.movie-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-title span {
    display: inline-block;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
